[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
psycopg2 = "*"
django-manifest-loader = "*"
django-widget-tweaks = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
python-dateutil = "*"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.9"
