{% load static %}
{% load manifest %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if git_hash %}
      <meta name="git-hash" content="{{ git_hash }}">
      <meta name="git-tag" content="{{ git_tag }}">
      <meta name="git-date" content="{{ git_date }}">
      <meta name="git-is-clean" content="{{ git_is_clean }}">
    {% else %}
      <meta name="git_hash" content="undefined">
    {% endif %}
    <title>Threes</title>
  </head>

  <body>
    {% csrf_token %}
    <div id="app"></div>

    <script src="{% manifest 'main.js' %}"></script>
  </body>
</html>
